[buildout]
develop = bobo bobodoctestumentation
parts = test sphinx bobo paste

[bobo]
recipe = zc.recipe.egg
eggs = bobo
       webtest
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = bobodoctestumentation
       webtest
       bobo

[sphinx]
recipe = zc.recipe.egg
eggs = sphinx
       Pygments
       manuel
       bobo
python = python2.6

[paste]
recipe = zc.recipe.egg
eggs = PasteScript
       repoze.who
       bobodoctestumentation
